*{
    font-family: 'Dosis', sans-serif;
}

body{
    background-color: black;
}

#search-bar {
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5px;
}

.form-outline{ 
    background-color: white; 
    border: 2px solid black;
}

#content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    width: 70%;
    margin: 0 auto;
}

.result{
    display: flex;
    flex-direction: column;
}

.result img{
    width: 100%;
    box-shadow: 0px 4px 5px 0px;
    color: black;
}

.result span{
    order: -1;
}

body { background-color: rgb(197, 232, 220); }

#results{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 248, 239);
}

#results-mid{ 
    text-align: center;
    padding-top: 15px;
}

header{
    text-align: center;
    padding-top: 2%;
}

img:hover{
    color: rgb(66, 129, 108);
}

.button {
border: none;
color: white;
padding: 16px 32px;
text-align: center;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
border-radius: 10px;
}

.button1, .button2 {
background-color: white; 
color: black; 
border: 2px solid rgb(66, 129, 108);
}

.button1:hover, .button2:hover {
background-color: rgb(66, 129, 108);
color: white;
}

.button2:active, .button1:active {
    background-color: rgb(21, 43, 36);
}

#limiter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}
#limit{
    height: 50%;
}