h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid red;
}

h2 {
    clear: right;
}

figure {
    float: right;
    width: 60vw;
    margin-left: 2em;
}

div {
    float: left;
    width: 30rem;
    border: 1px solid green;
}

footer {
    clear: both;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
}