html {scroll-behavior:smooth;}

header { 
    background-color: #FBBEA7; 
    position: absolute;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
}
header h3 {
    color: black;
    padding-left: 2em;
}
header hr {
    color: black;
    border: 2px solid #c09181;
    margin: 0;
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu { 
    width: 50%; 
    margin: 0%;
    display: flex;
    justify-content: space-around;
}
#menu a { 
    text-decoration: none; 
    color: black;
    font-family: 'Press Start 2P', monospace;
}

#externallinks a, #externallinks a:visited {
    margin-right: 1em;
    color: black;
    text-decoration: none;
}

.project {
    border-radius: 1em;
    padding: 1em;
    padding-top: 0px;
}

#shmup h4 { 
    color: #ced8f2;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
}
#shmup p { background: #ced8f2; }
#shmup a { 
    font-family:'Courier New', Courier, monospace;
    color: #a5725a;
    margin-right: 1em;
}
#shmup a:visited {     
    color: #a5725a;
}

#unfinishedbusiness h4 { 
    color: #fff47c;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
}
#unfinishedbusiness p { background: #fff47c; }
#unfinishedbusiness a { 
    font-family:'Courier New', Courier, monospace;
    color: #e75905;
    margin-right: 1em;
}
#unfinishedbusiness a:visited {     
    color: #e75905;
}

#mournblade h4 { 
    color: #EFC0D0;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
}
#mournblade p { background: #EFC0D0; }
#mournblade a { 
    font-family:'Courier New', Courier, monospace;
    color: #72751c;
    margin-right: 1em;
}
#mournblade a:visited {     
    color: #72751c;
}

#picture {
    position: absolute;
    padding-left: 2%;
    padding-top: 2%;
}
#picture img { 
    width: 45%;     
    border: 5px solid #c09181;
    border-radius: 1em;
}

body { 
    padding-top: 5em;
    padding-left: 25%;
    padding-right: 25%;
    background-color: black;
}

@media (max-width: 1150px) {
    #picture img { display: none;}
    #subheading { display: none;}
    #myName { display: none; }
    #menu {
        width: 80%;
        text-align: center;
        font-size: smaller;
    }
    body { padding-left: 5%; padding-right: 5%;}
}

h1, h3 { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
h1 { color: white; }

p { font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.about {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
    color: white;
}
#myInfo li { color: #FBBEA7; text-decoration: underline; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
#myInfo a, #myInfo a:visited { color: #FBBEA7; }
#subheading hr { border: 1px dashed white; }

h1 {
    font-size: 475%;
    margin: 0;
    padding-right: 20px;
    justify-content: flex-end;
}
h4 {
    padding-top: 1em;
}

.project a img {
    width: 50%;
    max-width: 400px;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1.5em;
    border: 8px solid black;
}

footer {
    background-color: bisque;
    border-radius: 1em;
    padding-left: 1%;
    padding-right: 1%;
}

footer h4 {
    padding-left: 2em;
}

#sections {
    display: flex;
    justify-content: space-evenly;
}

#sections hr {
    margin: 0.5em;
}

#sections p {
    font-size: smaller;
    padding: 0 2em;
}